services:
  # db:
  #   image: postgres:latest
  #   environment:
  #     POSTGRES_DB: ${POSTGRES_DB}
  #     POSTGRES_USER: ${POSTGRES_USER}
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   networks:
  #     - app-network
  
  nginx:
    image: nginx:stable
    container_name: nginx
    depends_on:
      - django
      - react
    ports:
      - "80:80"
    volumes:
      - ../nginx/nginx.dev.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network

  redis:
    image: redis:latest
    networks:
      - app-network

  django:
    build:
      context: ../backend
      dockerfile: Dockerfile.backend
    env_file:
      - ./envs/backend.docker.env
    depends_on:
      # - db
      - redis
    ports:
      - "8000:8000"
    volumes:
      - ../backend:/app
    networks:
      - app-network

  celery:
    build:
      context: ../backend
      dockerfile: Dockerfile.celery
    command: celery -A backend worker -l INFO -Q maintenance,celery
    env_file:
      - ./envs/backend.docker.env
    depends_on:
      - redis
      - django
      # - db
    volumes:
      - ../backend:/app
    networks:
      - app-network

  fastapi:
    build:
      context: ../websocket
      dockerfile: Dockerfile.ws
    env_file:
      - ./envs/ws.docker.env
    ports:
      - "8001:8001"
    volumes:
      - ../websocket:/app
    networks:
      - app-network

  react:
    build:
      context: ../frontend
      dockerfile: Dockerfile.frontend
    env_file:
      - ./envs/frontend.docker.env
    ports:
      - "3000:3000"
    volumes:
      - ../frontend:/app
      - node_modules:/app/node_modules
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  # postgres_data:
  node_modules: {}
